<% include ../partials/header %>
<div class="content">
  <div class="container-fluid">
  	 <!-- START MONTH CONFIG -->
	<div class="row">
    <div class="col-md-12">
		<div class="card">
		<form action="/month-config/<%=monthConfig._id%>/edit?_method=PUT" method="POST" id="formUpdate">
          <div class="card-header card-header-info card-header-success">
            <h4 class="card-title">Saldo Inicial</h4>
            <p class="card-category">A cada início de mês, informe o saldo de sua conta e cartão
              <span class="setup-month-icon" style=" <%=monthConfig.isDefined?"":"display: none;"%>">
                <a href="#">Configurar <span id="monthWorking"><%=monthConfig.monthYearLabel%></span> <i class="fa fa-cogs"></i></a>
              </span>
            </p>
          </div>
          <div class="card-body has-success">
            <div class="collapse <%=monthConfig.isDefined?"hidden":"show"%>" id="setupMonth">
              <div class="row">
                <div class="col-md-3 form-group bmd-form-group">
                  <label for="month-config-datesetup" class="bmd-label-static" style="margin-left: 15px">Escolha um mês</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                    <select class="form-control" id="month-config-datesetup" name="monthConfig[dateSetup]" >
                      <option value="<%=monthConfig._id%>"><%=monthConfig.monthYearLabel%></option>
                      <%  anotherMonths.forEach(function(month) { %>
                          <option value="<%=month._id%>"><%=month.monthYearLabel%></option>
                      <% });  %>
                    </select>                      
                  </div>
                </div>
                <div class="col-md-3 form-group">
                  <label for="txtSaldoInicio">Saldo no início do mês</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-money"></i>
                      </span>
                    </div>
                    <input type="text" required="true" aria-required="true" class="form-control money" name="monthConfig[balanceAccountBank]" id="txtSaldoInicio" placeholder="#0,00" value="<%=monthConfig.balanceAccountBankLabel%>">
                  </div>
                </div>
                <div class="col-md-4 form-group">
                  <label for="txtSaldoCartaoInicio">Saldo cartão no início do mês</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-money"></i>
                      </span>
                    </div>
                    <input type="text" required="true" aria-required="true" class="form-control money" name="monthConfig[balanceCreditCard]" id="txtSaldoCartaoInicio" placeholder="#0,00" value="<%=monthConfig.balanceCreditCardLabel%>">
                  </div>
                </div>  
                <div class="form-group col-md-2">
                  <button type="submit" class="btn btn-success" style="color: white">Salvar</button>
                  <!-- a class="btn btn-success" style="color: white" data-toggle="collapse" data-target="#setupMonth" aria-expanded="true" aria-controls="setupMonth">Salvar</a -->
                </div>
              </div>
              <div class="row">
                  <a data-toggle="collapse" data-target="#setupMonth" aria-expanded="true" aria-controls="setupMonth" class="btn btn-outline-success btn-sm col-sm-12" style="border:0"><i class="fa fa-angle-up"></i></a>
              </div>
            </div>
          </div>
          </form>
        </div>
    </div>
	</div>
	<!-- END MONTH CONFIG -->
	<!-- START SUBGROUPS LIST -->
	<div class="row">
    <div class="col-md-12">

		<div class="card">
			<div class="card-header card-header-icon card-header-success">
        <div class="card-icon">
          <i class="material-icons">person_pin_circle</i>
        </div>
        <h4 class="card-title ">Metas de <%=monthConfig.monthYearLabel%></h4>
      </div>
      <form action="/goal/<%=monthConfig.monthYear%>/edit?_method=PUT" method="POST" id="formUpdateMonthConfig">
			<div class="card-body table-hover">
        <div class="table-responsive">
  				<table class="table">
  					<thead class="text-danger">
              <tr>
                <th>ID</th>
                <th>Grupo</th>
                <th>Meta</th>
                <th class="text-center">Ação</th>
              </tr>
  					</thead>
            <tbody>
              <% subgroups.forEach(function(subgroup, idx){ 
                let metaAtual = subgroup.goals.length>0?subgroup.goals.filter(goal => moment(goal.date).isSame(monthConfig.dateSetup) && goal.valueOfGoal).shift():undefined;


              %>
              <tr>
                <td>
                  <% if(subgroup.group === "fixa") { %>
                  <i class="material-icons">autorenew</i>
                  <% } else { %>
                  <i class="material-icons">call_split</i>
                  <% } %>
                </td>
                <td>
                  <%=subgroup.description%>
                  <% subgroup.subgroupsInside.forEach(function(inside){ %>
                      <div class="row">
                        <i class="material-icons" style="padding-left: 1rem">subdirectory_arrow_right</i><%=inside.description%>
                      </div>
                  <% }); %>
                </td>
                <td class="has-danger">
                  <input type="hidden" name="subgroup[<%=idx%>][subgroupId]" value="<%=subgroup._id%>">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">R$ </span>
                    </div>
                    <label class="sr-only" for="inlineFormInputGroup2">Insira aqui o valores</label>
                    <input type="text" class="form-control form-goal money" required="true" aria-required="true"
                      name="subgroup[<%=idx%>][valueOfGoal]" 
                      id="txtSaldoCartaoInicio" 
                      placeholder="#0,00" 
                      value="<%=metaAtual!==undefined?numeral(metaAtual.valueOfGoal).format("0,0.00"):"" %>">                    
                  </div>
                </td>
                <td class="td-actions text-center">
                  <button type="button" rel="tooltip" class="btn btn-success btn-save-goal" style="display: inline">
                    <i class="material-icons">save</i>
                  </button>
                  <button type="button" rel="tooltip" class="btn  btn-favorite-goal <%=subgroup.isFavorite?"btn-warning":"btn-outline"%> btn-success">
                      <i class="material-icons">star</i>
                  </button>
                </td>
              </tr>
              <% });%>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class=" text-center">
        <button type="submit" rel="tooltip" class="btn btn-success">
				  <i class="material-icons">save</i> Salvar tudo
				</button>
      </div>
      </form>
		</div>
	 </div>
  </div>
	<!-- END OF SUBGROUPS LIST -->

  </div>
</div>

<form action="/goal/<%=monthConfig.monthYear%>/edit?_method=PUT" method="POST" id="formUpdateGoal">
  <input type="hidden" name="subgroup[valueOfGoal]">
</form>

<% include ../partials/footer %>      
