<% include header_html.ejs %>
<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          K2 Investimento
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item <%=active==='dashboard'?'active':''%>  ">
            <a class="nav-link" href="/dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item <%=active==='subgroup'?'active':''%>">
            <a class="nav-link" href="/subgroup">
              <i class="material-icons">developer_board</i>
              <p>Grupos / Sub-grupos</p>
            </a>
          <li class="nav-item <%=active==='goals'?'active':''%>">
            <a class="nav-link" href="/entry">
              <i class="material-icons">person_pin</i>
              <p>Metas</p>
            </a>
          </li>
          <li class="nav-item <%=active==='entry'?'active':''%>">
            <a class="nav-link" href="/entry">
              <i class="material-icons">monetization_on</i>
              <p>Lançamentos</p>
            </a>
          </li>
          </li>
          <li class="nav-item <%=active==='notifications'?'active':''%>">
            <a class="nav-link" href="/notifications">
              <i class="material-icons">notifications</i>
              <p>Notificações</p>
            </a>
          </li>
          <li class="nav-item <%=active==='user'?'active':''%>">
            <a class="nav-link" href="/user">
              <i class="material-icons">person</i>
              <p>Seus dados</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/logout">
              <i class="material-icons">logout</i>
              <p>Sair</p>
            </a>
          </li>
          <!-- li class="nav-item ">
            <a class="nav-link" href="./typography.html">
              <i class="material-icons">library_books</i>
              <p>Typography</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./icons.html">
              <i class="material-icons">bubble_chart</i>
              <p>Icons</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./map.html">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li -->
          
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Gerenciador K2</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <!-- form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form -->
            <ul class="navbar-nav menuk2" >
              
              <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                  <i class="material-icons">notifications</i>
                  <span class="notification">3</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Você ainda não informou o saldo no início do mês</a>
                  <a class="dropdown-item" href="#">Você ainda não informou o saldo do cartão no início do mês</a>
                  <a class="dropdown-item" href="#">Você está atingindo 80% da meta de gastos</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link azure" href="http://example.com" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink2">
                  <a class="dropdown-item" href="#">Seus dados</a>
                  <a class="dropdown-item" href="/logout">Sair</a>
                </div>
              </li>

              <!-- li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>

              </li -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->