<% include ../partials/header %>

<div class="content">
  <!-- START SUBGROUPS LIST -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-warning">
            <div class="card-icon">
              <i class="material-icons">star</i>
            </div>
            <h4 class="card-title ">Despesas Destaques</h4>
          </div>
          <div class="card-body ">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-danger">
                  <tr>
                    <th>Item</th>
                    <th>Previsto</th>
                    <th>Realizado</th>
                    <th class="text-center">Percentual</th>
                    <th class="text-center">Saldo</th>
                  </tr>
                </thead>
                <tbody>
                  <% subgroups.forEach(function(subgroup){ %>
                  <tr class="destaque <%=subgroup.aggregationOfEntries.percentual()>1?"alert alert-danger":""%>">
                    <td><%=subgroup.description%></td>
                    <td><%=numeral(subgroup.goals[0].valueOfGoal).format("$ 0,0.00")%></td>
                    <td>
                      <%=numeral(subgroup.aggregationOfEntries.amountRealized).format("$ 0,0.00")%>
                    </td>
                    <td class="text-center">
                      <%=numeral(subgroup.aggregationOfEntries.percentual()).format("0.00 %") %>
                    </td>
                    <td class="text-center">
                      <%=numeral(subgroup.aggregationOfEntries.valueOfGoal).subtract(subgroup.aggregationOfEntries.amountRealized).format("$ 0,0.00") %>
                    </td>
                    <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <div class="row">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">credit_card</i>
              </div>
              <p class="card-category">Saldo Cartão de Crédito</p>
              <h3 class="card-title">$34,245</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> referente ao mês de Novembro
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">account_balance</i>
              </div>
              <p class="card-category">Saldo Conta Bancária</p>
              <h3 class="card-title">$34,245</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> referente ao mês de Novembro
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF SUBGROUPS LIST -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-icon card-header-danger">
            <div class="card-icon">
              <i class="material-icons">pie_chart</i>
            </div>
            <h4 class="card-title">Despesas Variáveis</h4>
          </div>
          <div class="card-body">
            <div id="chartEntriesByGroupVariavel" class="ct-chart"></div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-12">
                <h6 class="card-category">Legenda</h6>
              </div>
              <div class="col-md-12">
                <i class="fa fa-circle text-danger"></i> Realizado
                <i class="fa fa-circle text-info"></i> Saldo
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-icon card-header-warning">
            <div class="card-icon">
              <i class="material-icons">pie_chart</i>
            </div>
            <h4 class="card-title">Despesas Fixas</h4>
          </div>
          <div class="card-body">
            <div id="chartEntriesByGroupFixa" class="ct-chart"></div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-12">
                <h6 class="card-category">Legenda</h6>
              </div>
              <div class="col-md-12">
                <i class="fa fa-circle text-danger"></i> Realizado
                <i class="fa fa-circle text-info"></i> Saldo
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<% include ../partials/footer %>      